<div>
    <div class="row">


        <div ng-if="currentUser">+++Welcome, {{appCtrl.displayName}}</div>
        <div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>
        <div ng-switch on="currentUser.role">
            <div ng-switch-when="userRoles.admin">You're admin.</div>
            <div ng-switch-when="userRoles.editor">You're editor.</div>
            <div ng-switch-default>You're something else.</div>
        </div>
        <a id="registration" ng-href="/{{'кegistration'}}">Registration</a> <br/>
    </div>
</div>