<div ng-init="vm.loadDetails()" class="container">
    <h1>User detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="form-group">
            <label for="inputFirstName">First name:</label>
            <input type="text" class="form-control" id="inputFirstName" ng-model="vm.user.firstName">
        </div>

        <div class="form-group">
            <label for="inputLastName">First name:</label>
            <input type="text" class="form-control" id="inputLastName" ng-model="vm.user.lastName">
        </div>

        <div class="form-group">
            <div class="controls">
                <!-- user-detail.html: -->
                <a ng-click="vm.goToUserGrid()" class="btn btn-small">cancel</a>
                <a ng-click="vm.saveUser()" class="btn btn-small btn-primary">update user</a>

                <!-- user-creation.html: -->
                <a ng-click="vm.createNewUser()" class="btn btn-small btn-primary">create new user</a>
            </div>

        </div>
    </form>
</div>